*{
padding: 0;

margin: 0;
box-sizing: border-box;
 font-family: monospace;
 color: white;
 box-sizing: border-box;
}


body{
    background-image: url(cake\ back.jpg) ;
    background-size: cover;
    background-attachment: fixed;    
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: solid 1px rgb(100, 98, 98) ;
    display: flex;
    justify-content: flex-end;
   
    background: rgb(255, 165, 240);
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 20px;
    position: fixed;    
}

 nav ul li{
display: inline;       
}
.header > h1{

    margin-right: 450px;
    margin-top: 10px;
    font-size: 50px;
    color: rgb(61, 6, 2);
}

.header nav ul li a{

    list-style: none;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    margin-right: 30px;
    background: linear-gradient(to right , rgb(161, 232, 241), rgb(255, 192, 192));
    border-radius: 10px;
    color: #000;
  
    
}

.header nav{
    margin-top: 30px;
}

 nav ul li a:hover{
    background: rgb(255, 255, 255);
        color: black;
    border: solid  1px rgb(244, 125, 255) ;
    box-shadow: 1px 1px 1px 0.5px rgb(170, 170, 170);


}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 1000px;
    
}

.Birthday{
background: honeydew;
width: 250px;
height: 400px;
border-radius: 20px;
margin-top: 200px;

}

.Birthday:hover{
cursor: pointer;
    box-shadow:  1px 1px 1px 1px  rgb(175, 175, 175);
}
 .Birthday > img{

    width: 240px;
    height: 200px;
    margin-left: 5px;
 }

.Birthday > h2{

    color: rgba(106, 11, 173, 0.575);
    margin-top: 30px;
    margin-left: 50px;

}

 .Birthday > span,del {
    color: #000;
    margin-left: 20px;
}

.Party{
background: honeydew;
width: 250px;
height: 400px;
border-radius: 20px;
margin-top: 200px;
}

.Party > h2{

    color: rgba(106, 11, 173, 0.575);
    margin-top: 30px;
    margin-left: 40px;

}

.Party > img {

    width: 240px;
    height: 200px;
    margin-left: 5px;
}
.Party:hover{
    cursor: pointer;
        box-shadow:  1px 1px 1px 1px  rgb(175, 175, 175);
        
    }
  .Party  > span,del {
        color: #000;
        margin-left: 20px;
    }

.Simple{
    width: 250px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    margin-top: 200px;

}

.Simple > h2{

    color: rgba(106, 11, 173, 0.575);
    margin-top: 30px;
    margin-left: 50px;

}

.Simple > img{

    width: 240px;
    height: 200px;
    margin-left: 5px;
}
.Simple > span,del {
    color: #000;
    margin-left: 20px;
}
.Simple:hover{
    cursor: pointer;
        box-shadow:  1px 1px 1px 1px  rgb(175, 175, 175);
    }

    button{
        padding: 10px;
        color: #000;
        border-radius: 5px;
        border: rgb(168, 148, 168) solid 1px;
        margin-left: 80px;
        margin-top: 10px;
        cursor: pointer;
       
    }

